//resolution
$mobile: 320px;
$tablet: 768px;
$desktop: 1120px;
$lg: 1400px;

// colors
$background: #e5e5e5;
$white: #fff;
$white-hover: #f1f1f1;
$blue: #1890FF;
$blue-hover: #80bdff;
$black: #000;
$txt: #262626;
$gray: #a0b8b9;
$danger: #F5222D;
$danger-hover: brown;
$green: #52C41A;
$green-hover: green;

// box-shadow
$shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);;
$shadow-hover: 0.4em 0.4em 1em $gray;