@import "../../assets/style/variables";

.header {
  background: $white;
  height: 80px;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}

.login, .register, .logout, .profile {
  margin-left: 20px;
}

.success {
  border: 1px solid $green;
  color: $green;
  border-radius: 5px;
  padding: 10px 20px;
}

.main, .profile {
  color: $txt;
}

.logout {
  border: 1px solid $black;
  border-radius: 5px;
  padding: 10px 20px;
}

.hide {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
